#main-content {
    width: 100%;
    height: 100%;
}

#greetings {
    font-weight: 800;
    color: #566573;
}

#date-today {
    font-weight: 800;
    color: #566573;
}

.greet-con {
    padding-left: 5%;
}

.date-con {
    padding-top: 7px;
    padding-right: 5%;
}

.list-group {
    max-height: 300px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.name {
    font-weight: 900;
}

.pay-con {
    padding-left: 3%;
}

.active-con {}

.inactive-con {
    padding-right: 3%;
}

.header-payment {
    color: #85C1E9;
    font-weight: 900;
}

.header-active {
    color: #82E0AA;
    font-weight: 900;
}

.header-inactive {
    color: #F1948A;
    font-weight: 900;
}

.header2 {
    color: white;
    font-weight: 900;
}

.title-bg {
    background-color: #7764CA;
}

#payment-data {
    color: #85C1E9;
    font-weight: 900;
}

#active-data {
    color: #82E0AA;
    font-weight: 900;
}

#inactive-data {
    color: #F1948A;
    font-weight: 900;
}

.fa-money-check-alt {
    color: #85C1E9;
}

.fa-user-check {
    color: #82E0AA;
}

.fa-user-times {
    color: #F1948A;
}


/**Cards 1st Row**/

.card-footer {
    background-color: #7764CA;
}

#payment-dues {}

#active-patients {}

#inactive-patients {}


/** 1st Row**/

.first-row {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.calendar-con {}


/** 2nd Row**/

.second-row {
    padding-bottom: 4%;
}