/* BAR GRAPH */

.bx--graph-header {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

.overlay {
    fill: #3d70b2;
    opacity: 0.1;
    display: none;
    pointer-events: none;
}

.line {
    stroke-width: 2;
    stroke: #FF00FF;
    fill: none;
    pointer-events: none;
    color: #C4C4C4;
}

.bar {
    fill: #9F91DA !important;
}

.axis path {
    stroke: #5A6872;
}

.tick {
    font-size: 10px;
}

.tick line {
    stroke: none;
}

.tick text {
    fill: white;
}

.graph-container {
    position: relative;
    background-color: #392F63;
}

.graph-tooltip {
    font-weight: 700;
    padding-left: 1rem 2rem;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #DFE3E6;
    padding: 0.25rem 0.5rem;
    pointer-events: none;
    display: none;
}

.graph-tooltip:after {
    content: "";
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}

.y path {
    display: none;
}

.label {
    font-size: 16px;
    font-weight: 700;
    fill: white;
    text-anchor: middle;
}