.w3-container{
    margin-bottom: 10%;

   
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-5,.col-6{
        width: max-content;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-5,.col-6{
        width: max-content;
    }
  }

  @media only screen and (min-width: 1000px) {
    .col-5,.col-6{
        width: max-content;
    }
  }