html {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(90deg, #C37DF3, #88E6F7);
    width: 100%;
    height: 60px;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    justify-content: flex-end;
    margin: 0px;
}

#header {
    margin-top: 9px;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 25;
    color: white;
}

#logo {
    margin-right: 10px;
}

.coltable {
    margin-top: 4%;
}

.bold {
    font-weight: 900;
}

.hour {
    margin-top: 30%;
}

.row-height {
    text-align: center;
    padding-top: 25px;
}

tr {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: transparent;
}

#schedules {
    padding-top: 1%;
    margin-left: 17%;
}


/**
Containers
**/

.maincon {}

.con1 {
    height: 500px;
}

.con2 {
    height: 500px;
}

.con3 {
    height: 500px;
}

.col-md {
    padding-top: 7px;
}

.MainContent {
    background-color: #F3F6FB;
    padding-bottom: 2%;
}

table tr#avail {
    background-color: #AA7CDD;
}

table tr#unavail {
    background-color: lightgray;
}

.box {
    margin-top: 4%;
    margin-right: 2%;
    height: 10px;
    width: 10px;
}

.avail {
    background-color: #AA7CDD;
}

.notAvail {
    background-color: lightgray;
}

.btnSubmit {
    margin-top: 95%;
}

.btn-primary {
    background-color: #C37DF3;
    border: #C37DF3;
}

.table-success {
    background-color: #C37DF3;
}