html {
    margin: 0;
    padding: 0;
}

.vector1 {
    margin-top: 8%;
    margin-left: 6%;
    position: absolute;
    width: 50%;
}

.conform {
    margin-left: 55%;
    position: absolute;
    width: 39%;
    height: 70%;
    margin-top: 10%;
    background-color: #F6DDCC
}

.navtitle {
    font-size: 30;
    font-weight: 900;
}

.label {
    font-weight: 600;
}

.title {
    font-weight: 900;
}

.svg1 {
    margin-top: 20%;
    position: absolute;
    width: 20%;
}

.svg2 {
    margin-top: 0;
    margin-left: 84%;
    position: absolute;
    width: 16%;
}

.try {
    margin-left: 2%;
    margin-top: 8%;
    width: 55%;
}