html {
    height: 100%;
}

body {
    background: linear-gradient( #C6C6FD, white);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form {
    background-color: white;
    margin-top: 2%;
}

#gdc {
    font-weight: 800;
}

#patientTitle {
    font-weight: 800;
    padding-top: 1%;
}

#avail {
    font-weight: 800;
    padding-top: 1%;
}

#sched {
    font-weight: 800;
    padding-top: 1%;
}

.container {
    width: 67%;
    padding-bottom: 2%;
    padding-top: 5%;
    background-color: white;
    padding-bottom: 3%;
}

.patientCon {
    padding-top: 5%;
    padding-left: 15%;
}

.availCon {
    padding-right: 17%;
}

.vacantCon {
    padding-top: 6%;
}

.scheduleCon {
    padding-top: 6%;
}

.secondaryTitle {
    padding-left: 3%;
    color: #ADADAD;
}

.titleCon {
    padding-left: 1%;
    border-radius: 20px 0px 0px 0px;
    /*Try*/
    background-image: linear-gradient(to right, #BB8FCE, white 80%);
}

i.fa-file-alt {
    padding-top: 20px;
    padding-left: 3%;
    right: 0;
    color: #8E44AD;
}

textarea {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    width: 100%;
    background-color: #FAFAFA;
    resize: none;
}

button {
    margin-left: 26%;
}

.form-con {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-con label {
    margin-bottom: 5px;
}

.form-con input {
    background-color: #FAFAFA;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-con input:focus {
    outline: 0;
    border-color: #777;
}

.form-con i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-con.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-con.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-con.success input {
    border-color: #2ecc71;
}

.form-con.error input {
    border-color: #e74c3c;
}

.form-con.success textarea {
    border-color: #2ecc71;
}

.form-con.error textarea {
    border-color: #e74c3c;
}

.form-con small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-con.error small {
    visibility: visible;
}

#sweetalert {
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 2%;
    margin-left: 25%;
    width: 30%;
}

.asterisk {
    margin-left: 2px;
    color: red;
}