html {
    height: 100%;
}

body {
    height: 65%;
    background: linear-gradient( #C6C6FD, white);
}

#buttonCon {
    margin-left: 25%;
}

.main {
    margin-top: 18%;
}

.content {
    margin-top: 21%;
}

.vline {
    border-left: 10px solid gray;
    height: 300px;
}

.header {
    font-weight: 800;
}

.colNew {
    margin-top: 5%;
}

.colOld {
    margin-top: 5%;
}