#submit {
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
    background-color: rgba(100, 9, 247, 0.74);
    color: #fff;
    border: 1px solid;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px
}

#cancel {
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
    background-color: rgba(255, 0, 0, 0.74);
    color: #fff;
    border: 1px solid;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px
}

span {
    color: black;
    font-weight: 700
}

.relevant {
    border: solid black 1px;
    display: inline-block;
    border-radius: 6px;
    width: 15%;
    margin-inline: 5px;
    margin-bottom: 50px;
    margin-left: 100px;
    box-shadow: 5px 10px 8px #888888;
    padding-bottom: 50px;
    margin-top: 1px;
}

.dashheaders {
    text-align: center;
    font-size: 25px;
    background-color: rgba(100, 9, 247, 0.74);
    border-bottom: solid black 2px;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dashdigits {
    text-align: center;
    padding-top: 50px;
}

.expand {
    font-size: 70px;
    cursor: pointer;
}

.buttontext {
    color: #fff;
    font-size: 20px;
}

.reqhead {
    margin-left: 25px;
}

.requests {
    border-collapse: collapse;
    font-size: 30px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 25px;
    border: solid rgb(0, 0, 0) 1px;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
    display: inline-block;
    margin-bottom: 50px;
}

.requests thead tr {
    background-color: rgba(100, 9, 247, 0.74);
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.requests th,
.requests td {
    padding: 12px 15px;
}

.requests tbody tr:nth-of-type(even) {
    background-color: #cfcfcf;
}

.requests tbody tr:last-of-type {
    border-bottom: 2px solid rgba(100, 9, 247, 0.74);
}

.requests tbody tr.active-row {
    font-weight: bold;
    color: rgba(100, 9, 247, 0.74);
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 20px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: rgba(100, 9, 247, 0.74);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid rgba(100, 9, 247, 0.74);
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: rgba(100, 9, 247, 0.74);
}

.modal-content {
    align-items: center;
}

.container {
    padding: 200;
    text-align: center;
}

.acceptbutton {
    background-color: rgba(100, 9, 247, 0.74);
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cancel {
    background-color: rgba(247, 9, 9, 0.74);
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 15px;
}

.resche {
    background-color: rgba(6, 172, 0, 0.74);
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 15px;
}

.closebutton {
    background-color: red;
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.allbutton {
    background-color: rgba(100, 9, 247, 0.74);
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.info {
    padding: 10px;
    background-color: rgba(100, 9, 247, 0.74);
    color: white;
    font-size: large;
}

body {
    background-color: #EEEDE9;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 96.5%;
    font-family: Helvetica, Arial, sans-serif;
}

input {
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-bottom: 10px;
}

p {
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

.clearfix {
    clear: both;
}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.reqs {
    display: inline-block;
}

.titleL {
    margin-left: 2%;
}

.titleR {
    margin-right: 2%;
}

.actions {
    margin-top: 1%;
}

.patient {
    margin-left: 5%;
}

.procedure {
    margin-left: 5%;
}

.titleL {
    margin-top: 1%;
    margin-bottom: 1%;
}

.titleR {
    margin-top: 1%;
    margin-bottom: 1%;
}

.vl {
    border-left: 3px solid #E7E7E7;
    height: 147px;
}

.txt-grey {
    color: #ACB5C9;
}

.btn-clicked {
    color: #ACB5C9 !important;
    font-weight: 700 !important;
    border-color: #ACB5C9 !important;
    background-color: yellow !important;
}