.container {
    /* background-color: #F3F6FB; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    /* line-height: 1.66667; */
    width: 10%;
    margin: 3rem auto;
}

.tab-slider--nav {
    width: 100%;
    float: left;
    /* margin-bottom: 20px; */
}

.tab-slider--tabs {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    background: #fff;
    /* height: 35px; */
    user-select: none;
}

.tab-slider--tabs:after {
    content: "";
    width: 50%;
    background: #345f90;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms ease-in-out;
    border-radius: 35px;
}

.tab-slider--tabs.slide:after {
    left: 50%;
}

.tab-slider--trigger {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    color: #345f90;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    transition: color 250ms ease-in-out;
    user-select: none;
}

.tab-slider--trigger.active {
    color: #fff;
}

.tab-slider--body {
    margin-bottom: 20px;
}