body {
    font-family: 'Roboto', sans-serif;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}


/* MAIN NAV */

ul.ba {
    list-style-type: none;
    color: white;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
    display: flex;
    justify-content: center;
}

#main-header {
    background-color: #7764CA;
    color: #FFFFFF;
    height: 10px;
}

#main-header a.active {
    box-shadow: 0px 0px 0px -170px rgba(0, 0, 0, 0.75);
}

a {
    display: block;
    padding: 10px;
    color: white;
}

#wrap {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

#profileImage {
    width: 70px;
    height: 65px;
    border-radius: 50%;
    background: #EBF4FE;
    font-size: 25px;
    color: #fff;
    text-align: center;
    line-height: 80px;
    margin: 20px 0;
    border: solid 3px white;
}

#logo {
    width: 90px;
    height: 80px;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}


/* SECONDARY NAV */

#search-dropdown {
    display: none !important;
}

#search-dropdow:hover {
    border-color: #2664EB !important;
}

#search-dropdow:focus {
    border-color: #9F91DA !important;
}

#plus-button:hover {
    border-color: #2664EB !important;
}

.dropdown-select {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px #eee;
    box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.dropdown-select:focus {
    background-color: #fff;
}

.dropdown-select:hover {
    background-color: #fff;
}

.dropdown-select:active,
.dropdown-select.open {
    background-color: #fff !important;
    border-color: #bbb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}

.dropdown-select:after {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777;
    -webkit-transform: origin(50% 20%);
    transform: origin(50% 20%);
    transition: all 0.125s ease-in-out;
    content: '';
    display: block;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
}

.dropdown-select.open:after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.dropdown-select.open .list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-select.open .option {
    cursor: pointer;
}

.dropdown-select.wide {
    width: 100%;
}

.dropdown-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.dropdown-select .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 6px;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 250px;
    overflow: auto;
    border: 1px solid #ddd;
}

.dropdown-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.dropdown-select .dd-search {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.dropdown-select .dd-searchbox {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #999;
    border-color: #999;
    border-radius: 4px;
    outline: none;
}

.dropdown-select .dd-searchbox:focus {
    border-color: #12CBC4;
}

.dropdown-select .list ul {
    padding: 0;
}

.dropdown-select .option {
    cursor: default;
    font-weight: 400;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    list-style: none;
}

.dropdown-select .option:hover,
.dropdown-select .option:focus {
    background-color: #f6f6f6 !important;
}

.dropdown-select .option.selected {
    font-weight: 600;
    color: #12cbc4;
}

.dropdown-select .option.selected:focus {
    background: #f6f6f6;
}

.dropdown-select a {
    color: #aaa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.dropdown-select a:hover {
    color: #666;
}

ul.list-group:after {
    clear: both;
    display: block;
    content: "";
}

.list-group-item {
    float: left;
    border: 0 !important;
    margin: 0px;
    padding: 10px 0px;
}

.navbar .navbar {
    padding: 0rem 0.75rem;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar-nav>li {
    padding: 0;
    margin: 0;
    background: red;
}

.navbar-nav>li>a {
    padding: 0;
    margin: 0;
    background: red;
    vertical-align: bottom;
}

.navbar-nav>li>p {
    padding: 0;
    margin: 0;
    background: yellow;
    vertical-align: bottom;
}

.secondary-nav {
    background-color: white;
    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;
}

.secondary-nav a {
    float: left;
    display: block;
    color: #97A2BC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.secondary-nav a.active {
    font-weight: 700;
    color: #9F91DA;
    border-bottom: 5px solid #9F91DA;
}

.secondary-nav #forms {
    position: relative;
}

.secondary-nav #forms-container {
    position: absolute;
}

.secondary-nav #circle-button {
    margin-bottom: 10px;
}

.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    color: #7764CA;
}

.main-header a.active {
    border: 5px none #A47575;
    border-radius: 40px 40px 40px 40px;
    background-color: #9181D4;
}


/* Loading Spinner */

#loading {
    -webkit-animation: rotation 1s infinite linear;
    display: block;
    position: fixed;
    z-index: 1031;
    /* High z-index so it is on top of the page */
    top: 50%;
    right: 50%;
    /* or: left: 50%; */
    /* margin-top: 180px; */
    /* half of the elements height */
    margin-right: 250px;
    /* half of the elements widht */
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}


/* Push message */

.animate.active {
    opacity: 1;
    transform: translateX(100%) translateY(100%);
}

.slide-in-down {
    transform: translateY(100%) translateX(-50%);
}

.msg {
    position: fixed;
    /* top: 40px; */
    /* left: 50%; */
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 800;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
    background-color: #7764CA;
    max-height: fit-content;
}

.auto-hide {
    -webkit-animation: cssAnimation 3.5s forwards;
    animation: cssAnimation 3.5s forwards;
}

@keyframes cssAnimation {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@-webkit-keyframes cssAnimation {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}

select {
    height: 50px !important;
}


/* Font awesome styles */

.fa-user-circle-purple {
    color: #7764CA;
}


/* Bootstrap customized */

.modal-title {
    color: #7764CA;
}


/* Search styles */


/* #9F91DA */

.searchInput:focus {
    /* border-color: #9F91DA; */
}


/* Static Phone No */

.static_contact_no_wrapper {
    border: 1px solid black;
    display: inline-block;
}

.static_contact_no_label {
    border: solid 1px #d5d5d5;
    padding: 0 0 0 5px;
}


/* Form con */

.form-con {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-con label {
    margin-bottom: 5px;
}

.form-con input {
    background-color: #FAFAFA;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-con input:focus {
    outline: 0;
    border-color: #777;
}

.form-con select {
    background-color: #FAFAFA;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-con select:focus {
    outline: 0;
    border-color: #777;
}

.form-con i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-con.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-con.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-con.success input {
    border-color: #2ecc71;
}

.form-con.error input {
    border-color: #e74c3c;
}

.form-con.success select {
    border-color: #2ecc71;
}

.form-con.error select {
    border-color: #e74c3c;
}

.form-con.success success {
    border-color: #2ecc71;
}

.form-con.error success {
    border-color: #e74c3c;
}

.form-con.success textarea {
    border-color: #2ecc71;
}

.form-con.error textarea {
    border-color: #e74c3c;
}

.form-con small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-con.error small {
    visibility: visible;
}

#sweetalert {
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 2%;
    margin-left: 25%;
    width: 30%;
}


/* Date picker */

[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}