.titleL {
    margin-left: 2%;
}

.titleR {
    margin-right: 2%;
}

.actions {
    margin-top: 1%;
}

.patient {
    margin-left: 5%;
}

.procedure {
    margin-left: 5%;
}

.titleL {
    margin-top: 1%;
    margin-bottom: 1%;
}

.titleR {
    margin-top: 1%;
    margin-bottom: 1%;
}

.vl {
    border-left: 3px solid #E7E7E7;
    height: 147px;
}

.txt-grey {
    color: #ACB5C9;
}

.btn-clicked {
    color: #ACB5C9 !important;
    font-weight: 700 !important;
    border-color: #ACB5C9 !important;
    background-color: yellow !important;
}