.table {
    border-collapse: separate;
    border-spacing: 0 20px;
}

thead>tr {
    color: #A8B1C7;
    font-weight: 900;
}

thead>td {
    color: #A8B1C7;
    font-weight: 900;
}

.th-title {
    color: #6E80A0;
    font-weight: 900;
}

tbody {
    color: #6E80A0;
}

.td-email {
    color: #A8B1C7;
}