/*SVGs*/

.vector1 {
    margin-top: 7%;
    margin-left: 50px;
}

.vector2 {
    top: 0;
    margin-top: 90px;
    margin-left: 190px;
}

#svg {
    position: absolute;
}


/*Home*/

#homeSVG1 {
    top: 0;
    right: 0;
    position: absolute;
    width: 10%;
}

#homeSVG2 {
    top: 0;
    right: 0;
    position: absolute;
    width: 50%;
}

#homeSVG3 {
    top: 30%;
    right: 0;
    position: absolute;
    width: 16%;
}

#homeSVG4 {
    top: 93%;
    left: 0;
    position: absolute;
    width: 10%;
}


/*Appointments*/

#appSVG1 {
    top: 115%;
    width: 6%;
    right: 0;
    position: absolute;
}

#appSVG2 {
    top: 110%;
    width: 37%;
    right: 0;
    position: absolute;
}

#appSVG3 {
    top: 180%;
    width: 10%;
    right: 0;
    position: absolute;
}

#homeSVG5 {
    top: 134%;
    right: 33%;
    position: absolute;
    width: 10%;
}

img {
    pointer-events: none;
}