html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}


/*Color: 9F91DA*/


/*Navs*/


.nav-pills > a.active {
    background-color: transparent !important;
    color: #7764CA !important;
}
  
.nav-pills > a:hover {
    color: #7764CA !important;
}


.upper{
    padding:0;
    margin:0;
    width: 100%;
    height: 40%;
    background-color: #b2a3f5;
}
.lower{
    padding:0;
    margin:0;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 17%;
    background-color: #F5EEF8;
}

#lowerDesc{
    font-size: 20px;
}

#upperTitle{
    padding-top: 6%;
    font-size: 90px;
    color: #dfd8fc;
    font-weight: 900;
}

#upperTitle2{
    padding-left: 12%;
    font-weight: 700;
    color: white;
}

.color-me {
    color: #7764CA;
}

.color-me-blue {
    color: blue;
}


/*home content*/

#home {
    padding-top: 10%;
    height: 740px;
}

#textHome1 {
    padding-top: 24%;
    color: #027BFB;
    font-weight: 900;
}


/*appointments content*/

#appointments {
    padding-top: 73px;
    height: 740px;
}

#textAppointments1 {
    padding-top: 20%;
    color: #027BFB;
    font-weight: 900;
}

#appButton {
    margin-left: 30%;
}


/*aboutus content*/

#aboutus {
    padding-top: 73px;
    height: 720px;
}

.aboutUsBG1 {
    left: 0;
    height: 24%;
    width: 70%;
    border-radius: 0px 50px 50px 0px;
    background: rgb(119, 100, 202);
    background: linear-gradient(35deg, rgba(119, 100, 202, 1) 0%, rgba(143, 232, 255, 1) 100%);
}

.aboutUsBG2 {
    margin-left: 30%;
    margin-top: 2%;
    height: 24%;
    width: 70%;
    padding-top: 2%;
    border-radius: 50px 0px 0px 50px;
    background: rgb(119, 100, 202);
    background: linear-gradient(35deg, rgba(119, 100, 202, 1) 0%, rgba(143, 232, 255, 1) 100%);
}

.aboutUsBG3 {
    margin-top: 2%;
    left: 0;
    height: 24%;
    width: 70%;
    padding-top: 2%;
    border-radius: 0px 50px 50px 0px;
    background: rgb(119, 100, 202);
    background: linear-gradient(35deg, rgba(119, 100, 202, 1) 0%, rgba(143, 232, 255, 1) 100%);
}

#aboutUsText {
    font-size: 70;
    font-weight: 900;
    color: white;
    margin-left: 15%;
    padding-top: 3%;
}


/*Vector*/

#vector1 {
    width: 100%;
}

#vector2 {
    padding-top: 1%;
    width: 100%;
}

.icon {
    width: 10%;
}